# Binance API configuration
BINANCE_API_KEY=your_binance_api_key_here
# Santiment API key
SANTIMENT_API_KEY=your_santiment_api_key_here
# Wandb
WANDB_PROJECT=your-wandb-project-name
WANDB_TEAM=your-wandb-team-name
# Using SSH key from ~/.ssh/id_ed25519 for signing 